header
{
    text-align: center;
    font-family: Arial Black, "Arial Black";
    color: #FFFFFF;
    Background-color: rgba(145,145,145, 0.8);
    border-radius: 10px;
    font-size: 45px;
    line-height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
}

body
{

    font-family: Time New Roman, "Times New Roman";
    color: #FFFFFF;
    background-image:url("maison_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
	font-size: 45px;
    
}

section
{
	color:#330000;
	margin-left: 40%;
	margin-right: 5%;
	border: 5px solid black;
	background-image:url("no_acces.png");
	background-repeat: no-repeat;
	height: 255px;
	width: 255px;
}

p
{
    color: #FFFFFF;
    font-style: bold;
}

footer
{
    font-size: 20px;
    margin-left: 3%;
}

